{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block home_active %}active{% endblock %}

{% block content %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Announcement</h1>
    <p class="col-md-8 fs-4">Welcome!</p>
    {% if existsIn(permission, "modify_announcement") %}
    <button class="btn btn-primary btn-lg" type="button">Edit</button>
    {% endif %}
  </div>
</div>

{% if existsIn(permission, "modify_movie") %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#movieModal">
  Add Movie
</button>
{% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Star</th>
      <th scope="col">Detail</th>
      <th scope="col">Length</th>
      <th scope="col">Type</th>
      <th scope="col">Average rating</th>
      <th scope="col">Poster</th>
      <th scope="col">Box office</th>
      <th scope="col">Number of participants</th>
      <th scope="col">Release Date</th>
      <th scope="col">Box office unit</th>
      <th scope="col">Foreign name</th>
      <th scope="col">Location</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for movie in movies %}
    <tr style="vertical-align: middle;">
      <th scope="row">{{ movie.movie_id }}</th>
      <td>{{ movie.moviename }}</td>
      <td>{{ movie.starname }}</td>
      <td>{{ movie.detail }}</td>
      <td>{{ movie.running_time }}</td>
      <td>{{ movie.type }}</td>
      <td>{{ movie.avg_rating }}</td>
      <td>{{ movie.poster }}</td>
      <td>{{ movie.box_office }}</td>
      <td>{{ movie.num_participants }}</td>
      <td>{{ movie.release_date }}</td>
      <td>{{ movie.box_office_unit }}</td>
      <td>{{ movie.foreign_name }}</td>
      <td>{{ movie.location }}</td>
      <td>{% if existsIn(permission, "modify_movie") %}<a href="" data-bs-toggle="modal" data-bs-target="#movieModifyModal{{movie.movie_id}}">Modify</a>{% endif %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if exists("pagination") %}
<ul class="pagination">
  {% if existsIn(pagination, "previous") %}
  <li class="page-item">
    <a class="page-link" href="/movies/{{ pagination.previous }}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" href="#" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  {% endif %}
  {% if existsIn(pagination, "left_ellipsis") %}
  <li class="page-item"><a class="page-link" href="/movies/1">1</a></li>
  <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
  {% endif %}
  {% for page in pagination.pages_left %}
  <li class="page-item"><a class="page-link" href="/moviess/{{ page }}">{{ page }}</a></li>
  {% endfor %}
  <li class="page-item active" aria-current="page"><a class="page-link" href="/movies/{{ pagination.current }}">{{ pagination.current }}</a></li>
  {% for page in pagination.pages_right %}
  <li class="page-item"><a class="page-link" href="/movies/{{ page }}">{{ page }}</a></li>
  {% endfor %}
  {% if existsIn(pagination, "right_ellipsis") %}
  <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
  <li class="page-item"><a class="page-link" href="/movies/{{ pagination.total }}">{{ pagination.total }}</a></li>
  {% endif %}
  {% if existsIn(pagination, "next") %}
  <li class="page-item">
    <a class="page-link" href="/movies/{{ pagination.next }}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link" href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}

<!-- Modify -->
{% for movie in movies %}
<div class="modal fade" id="movieModifyModal{{movie.movie_id}}" tabindex="-1" aria-labelledby="movieModifyModalLabel{{movie.movie_id}}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/form_modify_movie/{{movie.movie_id}}">
        <div class="modal-header">
          <h5 class="modal-title" id="movieModalLabel">Modify Movie {{movie.moviename}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="moviename" class="form-label">Moviename</label>
            <input type="text" class="form-control" id="moviename" name="moviename" placeholder="{{movie.moviename}}">
          </div>
          <div class="mb-3">
            <label for="starname" class="form-label">Star</label>
            <input type="text" class="form-control" id="starname" name="starname" placeholder="{{movie.starname}}">
          </div>
          <div class="mb-3">
            <label for="detail" class="form-label">Detail</label>
            <input type="text" class="form-control" id="detail" name="detail" placeholder="{{movie.detail}}">
          </div>
          <div class="mb-3">
            <label for="running_time" class="form-label">Length</label>
            <input type="text" class="form-control" id="running_time" name="running_time" placeholder="{{movie.running_time}}">
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-label" id="type" name="type" placeholder="{{movie.type}}">
          </div>
          <div class="mb-3">
            <label for="poster" class="form-label">Poster</label>
            <input type="poster" class="caption" id="poster" name="poster" placeholder="{{movie.poster}}">
          </div>
          <div class="mb-3">
            <label for="release_date" class="form-label">Release Date</label>
            <input type="text" class="form-control" id="release_date" name="xxxx/xx/xx" placeholder="{{movie.release_date}}"> 
          </div>
          <div class="mb-3">
            <label for="foreign_name" class="form-label">Foreign Name</label>
            <input type="text" class="form-label" id="foreign_name" name="foreign_name" placeholder="{{movie.foreign_name}}">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-label" id="location" name="location" placeholder="{{movie.location}}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Modify</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<div class="modal fade" id="movieModal" tabindex="-1" aria-labelledby="movieModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/form_add_movie">
        <div class="modal-header">
          <h5 class="modal-title" id="userModalLabel">Add Movie</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="moviename" class="form-label">Name</label>
            <input type="text" class="form-control" id="moviezname" name="moviename">
          </div>
          <div class="mb-3">
            <label for="starname" class="form-label">Star</label>
            <input type="text" class="form-control" id="starname" name="starname" placeholder="Starname1,Starname2,...">
          </div>
          <div class="mb-3">
            <label for="detail" class="form-label">Detail</label>
            <input type="text" class="form-control" id="detail" name="detail" placeholder="Detail">
          </div>
          <div class="mb-3">
            <label for="running_time" class="form-label">Length</label>
            <input type="text" class="form-control" id="running_time" name="running_time" placeholder="xx min">
          </div>
          <div class="mb-3">
            <label for="type" class="form-label">Type</label>
            <input type="text" class="form-label" id="type" name="type" placeholder="type">
          </div>
          <div class="mb-3">
            <label for="poster" class="form-label">Poster</label>
            <input type="poster" class="caption" id="poster" name="poster" placeholder="one picture">
          </div>
          <!--import picture?-->
          <div class="mb-3">
            <label for="release_date" class="form-label">Release Date</label>
            <input type="text" class="form-control" id="release_date" name="xxxx/xx/xx">
          </div>
          <div class="mb-3">
            <label for="foreign_name" class="form-label">Foreign Name</label>
            <input type="text" class="form-label" id="foreign_name" name="foreign_name" placeholder="foreign_name">
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-label" id="location" name="location" placeholder="location">
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- 
<div class="row align-items-md-stretch">
  <div class="col-md-6">
    <div class="h-100 p-5 text-white bg-dark rounded-3">
      <h2>Change the background</h2>
      <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
      <button class="btn btn-outline-light" type="button">Example button</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="h-100 p-5 bg-light border rounded-3">
      <h2>Add borders</h2>
      <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
      <button class="btn btn-outline-secondary" type="button">Example button</button>
    </div>
  </div>
</div>
-->

{% endblock %}