{% extends "base.html" %}

{% block title %}Movie Management{% endblock %}

{% block content %}
<!-- Button trigger modal -->
<p class="col-md-8 fs-4">Movie {{ movie.moviename }} Management</p>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#screeningModal">
  Add Screening
</button>

<table class="table" id="tb">
    <thead>
        <tr>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Price</th>
        <th scope="col">Room</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for screening in screenings %}
        <tr>
        <td>{{ screening.showing_date }}</td>
        <td>{{ screening.time }}</td>
        <td>{{ screening.price }}</td>
        <td>{{ screening.room_id }}</td>
        <td><a href="" data-bs-toggle="modal" data-bs-target="#modifyModal{{ screening.screening_id }}">
            Modify
        </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
      $('#tb').DataTable({
        "order": [[ 0, "asc" ]]
      });
      $('.dataTables_length').addClass('bs-select');
    });
</script>

<!-- Modify Modal -->
{% for screening in screenings %}
<div class="modal fade" id="modifyModal{{ screening.screening_id }}" tabindex="-1" aria-labelledby="modifyModalLabel{{ screening.screening_id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/form_modify_screening/{{ screening.screening_id }}">
        <div class="modal-header">
          <h5 class="modal-title" id="modifyModalLabel{{ screening.screening_id }}">Modify Screening</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="text" class="form-control" id="date" name="date" value="{{ screening.showing_date }}">
          </div>
          <div class="mb-3">
            <label for="time" class="form-label">Time</label>
            <input type="text" class="form-control" id="time" name="time" value="{{ screening.time }}">
          </div>
          <div class="mb-3">
            <label for="price" class="form-label">Price ¥</label>
            <input type="text" class="form-control" id="price" name="price" value="{{ screening.price }}">
          </div>
          <div class="mb-3">
            <label for="room" class="form-label">Room</label>
            <select class="form-select" aria-label="room-select" name="room_id">
                {% for room in rooms %}
                <option value="{{ room.room_id }}" {% if room.room_id == screening.room_id %} selected {% endif %}>{{ room.room_name }} - Capacity {{ room.capacity }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Modify</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}

<!-- Modal -->
<div class="modal fade" id="screeningModal" tabindex="-1" aria-labelledby="screeningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="/form_add_screening/{{ movie.movie_id }}">
          <div class="modal-header">
            <h5 class="modal-title" id="screeningModalLabel">Add Screening</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="mb-3">
              <label for="date" class="form-label">Date</label>
              <input type="text" class="form-control" id="date" name="date" placeholder="2022-12-31">
            </div>
            <div class="mb-3">
              <label for="time" class="form-label">Time</label>
              <input type="text" class="form-control" id="time" name="time" placeholder="12:00">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price ¥</label>
              <input type="text" class="form-control" id="price" name="price" placeholder="30">
            </div>
            <div class="mb-3">
              <label for="room" class="form-label">Room</label>
              <select class="form-select" aria-label="room-select" name="room_id">
                  {% for room in rooms %}
                  <option value="{{ room.room_id }}">{{ room.room_name }} - Capacity {{ room.capacity }}</option>
                  {% endfor %}
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Add</button>
          </div>
        </form>
      </div>
    </div>
</div>

{% endblock %}