{% extends "base.html" %}

{% block title %}My Center{% endblock %}

{% block mycenter_active %}active{% endblock %}

{% block content %}
<!-- Button trigger modal -->
<p class="col-md-8 fs-4">My Tickets</p>\

<table class="table">
    <thead>
        <tr>
        <th scope="col">Ticket ID</th>
        <th scope="col">Time</th>
        <th scope="col">Seat</th>
        <th scope="col">Room</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
      {% for ticket in tickets %}
        <tr>
        <td>{{ ticket.ticket_id }}</td>
        <td>{{ ticket.time }}</td>
        <td>{{ ticket.seat }}</td>
        <td>{{ ticket.room_id }}</td>
        <td>{{ ticket.price }}</td>
        <td>
          <a href="/viewticket/{{ ticket.ticket_id }}">View</a>
          <a href="" data-bs-toggle="modal" data-bs-target="#cancelModal{{ ticket.ticket_id }}">Cancel</a>
        </td>
        </tr>
      {% endfor %}
    </tbody>
</table>

<!-- Cancel Modal -->
{% for ticket in tickets %}
<div class="modal fade" id="cancelModal{{ ticket.ticket_id }}" tabindex="-1" aria-labelledby="cancelModalLabel{{ ticket.ticket_id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/form_cancel_ticket/{{ ticket.ticket_id }}">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelModalLabel{{ ticket.ticket_id }}">Cancel Ticket</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure to cancel this ticket?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-danger">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}